{% extends 'header.html' %}
<!--  -->
{% block morestyle %}
<link rel="stylesheet" href="/static/user.css" />
{% endblock %}
<!--  -->
{% block morecontent %}
<div class="user-details">
  <h1>{{ user.full_name }}</h1>
  <h3>@{{ user.username }}</h3>
</div>
<div class="profile-content">
  <div class="groups">
    <h2>My groups</h2>
    <div class="groups-section">
      <form action="/user/{{ user.id }}/new-group">
        <button><h3>New group</h3></button>
      </form>
      {% for group in created_groups %}
      <a href="/user/{{ user.id }}/group/{{ group.id }}" class="group-tile"
        ><h3>{{ group.name}}</h3>
        <h4>_ members</h4>
      </a>
      {% endfor %}
    </div>
    <!--  -->
    <h2>Joined groups</h2>
    <div class="groups-section">
      <form action="/user/{{ user.id }}/browse-groups">
        <button><h3>Browse groups</h3></button>
      </form>
      {% for group in joined_groups %}
      <a href="/user/{{ user.id }}/group/{{ group.id }}" class="group-tile"
        ><h3>{{ group.name}}</h3>
        <h4>_ members</h4>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
