<!-- USER PAGE FOR ANON USER -->

{% extends 'header.html' %}
<!--  -->
{% block morestyle %}
<link rel="stylesheet" href="/static/user.css" />
{% endblock %}
<!--  -->
{% block morecontent %}
<div class="user-details">
  <h1>{{ user.full_name }}</h1>
  <h3>@{{ user.username }}</h3>
  {% if user.introduction %}
  <p>{{ user.introduction }}</p>
  {% endif %}
  <p class="group-count">
    {{ created_groups|length }}{% if created_groups|length == 1%} group{% else
    %} groups{% endif %}
  </p>
</div>
<div class="profile-content">
  <div class="groups">
    <h2>{{ user.username }}'s groups</h2>
    <div class="groups-section">
      {% for group in created_groups %}
      <a href="/user/{{ user.id }}/group/{{ group.id }}" class="group-tile"
        ><h3>{{ group.name}}</h3>
        <h4>_ members</h4>
      </a>
      {% endfor %}{% if not created_groups %}<span class="none">None</span>{%
      endif %}
    </div>
    <!--  -->
    <h2>{{ user.username }}'s joined groups</h2>
    <div class="groups-section">
      {% for group in joined_groups %}
      <a href="/user/{{ user.id }}/group/{{ group.id }}" class="group-tile"
        ><h3>{{ group.name}}</h3>
        <h4>_ members</h4>
      </a>
      {% endfor %} {% if not joined_groups %}<span class="none">None</span>{%
      endif %}
    </div>
  </div>
</div>
<div class="right">
  <div class="recently-recommended">
    <h2>Recent recommendations</h2>
    <div class="recently-recommended-feed">
      {% for song in recently_recommended %}
      <div class="recommendation">
        <div class="rec-image">
          <a href="{{ song.s_link }}" target="_blank"
            ><img src="{{ song.s_image }}" alt="{{ song.s_name }} album image"
          /></a>
        </div>
        <div class="rec-info">
          <a href="{{ song.s_link }}" target="_blank"
            ><h4>
              {{ song.s_name }} <b>-</b>
              <span class="rec-artist">{{ song.s_artist }}</span>
            </h4></a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
