{% extends 'header.html' %}
<!--  -->
{% block morestyle %}
<link rel="stylesheet" href="/static/user.css" />
{% endblock %}
<!--  -->
{% block morecontent %}
<div class="user-details">
  <h1>{{ user.full_name }}</h1>
  <h3>@{{ user.username }}</h3>
</div>
<div class="profile-content">
  <div class="groups">
    <h2>My groups</h2>
    <form action="/user/{{ user.id }}/new-group">
      <button>New group</button>
    </form>
    <h2>Joined groups</h2>
    <form action="/user/{{ user.id }}/browse-groups">
      <button>Browse groups</button>
    </form>
  </div>
</div>

{% endblock %}
