{% extends 'base.html' %}
<!--  -->
{% block style %}
<link rel="stylesheet" href="/static/landing.css" />
<!--  -->
<div class="login-header">
  <h1>Sign up for Spotify Sharing</h1>
</div>
<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" novalidate="True">
      {{ form.hidden_tag() }}
      <!--  -->
      {% for field in form if field.widget.input_type != 'hidden' %}
      <!--  -->
      {{ field(placeholder=field.description) }}
      <!--  -->
      {% for error in field.errors %}
      <p class="error-message">{{ error }}</p>
      {% endfor %}
      <!--  -->
      {% endfor %}
      <!--  -->
      <button type="submit">Sign up</button>
      <p class="message">
        Already have an account? <a href="/login">Log in</a>
      </p>
    </form>
  </div>
</div>
<div class="creator">
  <i class="fas fa-info-circle"></i> This app created by <b>Caleb Waymeyer</b>.
  Check out the source code
  <a href="https://github.com/cwaymeyer/spotify-sharing"><b>here</b></a
  >.
</div>
{% endblock %}
