@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(182, 195, 211);
  background: linear-gradient(
    41deg,
    rgb(161, 189, 221) 0%,
    rgb(209, 217, 231) 100%
  );
  background-attachment: fixed;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px;
}

.back-btn {
  margin: 20px 0 0 15px;
}

/**** FORMS ****/

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form label {
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 15px 0 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  height: 200px;
  width: 100%;
  border: 0;
  margin: 15px 0 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  outline: 0;
  background: #94b0da;
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #788eb1;
}

.form .message {
  margin: 20px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 800;
}

.form .message a {
  color: #94b0da;
  text-decoration: none;
}

.form .error-message {
  color: #ad3a3a;
  font-size: 12px;
  font-weight: 800;
  margin: 0;
}
