@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(182, 195, 211);
  background: linear-gradient(
    41deg,
    rgb(161, 189, 221) 0%,
    rgb(209, 217, 231) 100%
  );
  background-attachment: fixed;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* BUTTONS */

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.back-btn {
  position: relative;
  margin: 20px 10px 0 15px;
}

.join-btn {
  position: relative;
  background: #94b0da;
  color: #fff;
}

.leave-btn {
  position: relative;
  background: #f77777;
  color: #fff;
}

.edit-btn {
  position: relative;
  background: #4278a3;
  color: #fff;
}

.delete-btn {
  position: relative;
  background: #c74545;
  color: #fff;
}

.post-btn {
  background: #3d5588;
  color: #fff;
  position: relative;
  width: 80%;
}

.spotify-btn {
  background: #1db954;
  color: #fff;
  position: relative;
  width: 80%;
  margin-bottom: 10px;
}

.btn-disabled {
  background-color: #7180a0;
  cursor: default;
}

/**** FORMS ****/

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form label {
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 15px 0 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  height: 200px;
  width: 100%;
  border: 0;
  margin: 15px 0 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  outline: 0;
  background: #94b0da;
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #788eb1;
}

.form .message {
  margin: 20px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 800;
}

.form .message a {
  color: #94b0da;
  text-decoration: none;
}

.form .error-message {
  color: #ad3a3a;
  font-size: 12px;
  font-weight: 800;
  margin: 0;
}

/* POPUPS */

.pop-up {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 25px;
  row-gap: 20px;
  box-sizing: border-box;
  height: 88%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  border-radius: 4%;
  overflow-y: scroll;
}

.pop-up::-webkit-scrollbar {
  display: none;
}
