.member-count {
  margin: 30px 0 15px 15px;
  font-size: 1.2em;
}

.description {
  margin: 0 0 15px 15px;
  font-size: 0.8em;
}

.artist {
  box-sizing: border-box;
}

.group-title {
  text-align: center;
}

.group-actions-form {
  display: inline;
}

.group-header h1 {
  position: relative;
  color: #fff;
  background-color: #3d5588;
  width: 55%;
  margin: auto;
  margin-top: 20px;
  padding: 18px;
  border-radius: 6px;
  z-index: 1;
}

.group-feed {
  display: grid;
  grid-template-rows: 5fr 1fr;
  box-sizing: border-box;
  background-color: #fff;
  height: 85vh;
  padding-top: 70px;
  margin-top: -50px;
  border-radius: 7px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: normal;
  z-index: 0;
}

.group-feed::-webkit-scrollbar {
  display: none;
}

/* feed portion where posts and comments will display */
.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  bottom: 10px;
  gap: 10px;
  padding: 10px;
}

/* input section for text area and buttons */
.feed-post-creation {
  display: grid;
  grid-template-columns: 65% 15% 20%;
  position: sticky;
  bottom: 0;
  grid-row: 2 / 3;
  height: 110px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
}

.feed-post-creation-input {
  grid-column: 1 / 2;
}

.feed-post-creation textarea {
  width: 90%;
  height: 70px;
  border: 1px solid #3d5588;
  resize: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border-radius: 6px;
}

.feed-post-creation-spotify img {
  grid-template-columns: 2 / 3;
  width: 88%;
  border-radius: 6px;
}

.feed-post-creation-spotify .delete-img {
  position: absolute;
  text-align: center;
  outline: 1px solid rgb(197, 0, 0);
  border-radius: 10%;
  z-index: 2;
}

.feed-post-creation button {
  grid-column: 2 / 3;
}

.post {
  display: grid;
  grid-template-columns: 55% 30% 12% 3%;
  grid-template-rows: 30px 1fr;
  width: 100%;
}

.post h4 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(238, 240, 245);
  padding: 5px;
  width: 98%;
  border-radius: 4px;
}

.post button {
  background-color: inherit;
  padding: 0;
}

.post .likes {
  display: inline-block;
  margin: 0 5px 0 15px;
}

.post .likes-count {
  font-size: 0.9em;
}

.post p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 1em;
  margin: 2px 0 8px 0;
  padding-left: 5px;
}

.post img {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-top: 6px;
  width: 100%;
  min-width: 50px;
  border-radius: 6px;
}

.post h5 {
  font-size: 1em;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: right;
  margin: 6px 10px 5px 0;
  line-height: 1.4em;
}

.post h5 .artist {
  font-size: 0.9em;
  font-weight: 100;
}

.post h5 .links span {
  font-size: 0.75em;
  font-style: italic;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

/* spotify search */
.spotify-search-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 50%;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 10;
}

/* .spotify-search-input {
  position: sticky;
} */

#spotify-search-form {
  position: sticky;
  display: grid;
  grid-template-columns: 75% 1fr;
  gap: 10px;
  box-sizing: border-box;
}

#spotify-search-form input {
  grid-column: 1 / 2;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#spotify-search-form button {
  grid-column: 2 / 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spotify-search-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100% - 50px);
  margin-top: 15px;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.spotify-search-results::-webkit-scrollbar {
  display: none;
}

.spotify-search-res {
  display: grid;
  grid-template-columns: 80px 1fr 100px;
  width: 100%;
}

.song-info {
  grid-template-columns: 2 / 3;
}

.spotify-search-res img {
  grid-template-columns: 1 / 2;
  width: 100%;
  border-radius: 6px;
}

.spotify-search-res h3 {
  font-weight: 100;
  margin: 10px;
}

.spotify-search-res h4 {
  font-size: 14px;
  margin: 10px;
}

.select-btn {
  grid-template-columns: 2 / 3;
  border: 1px solid #3d5588;
  height: 40px;
  width: 80px;
}

.select-btn:hover {
  background-color: #3d5588;
  color: #fff;
}

.selected {
  border: 3px solid #1db954;
}

/* right */

.most-liked {
  height: 60%;
  margin-top: 25px;
  padding: 22px;
}

.most-liked h2 {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 3px -8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 10px 3px -8px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 3px -8px rgba(0, 0, 0, 0.8);
}

.most-liked-feed {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 60vh;
}

.most-liked-feed .recommendation {
  display: grid;
  grid-template-columns: 60px 1fr;
  width: 100%;
  margin: 5px 0 5px 0;
}

.most-liked-feed h4 {
  display: inline;
  vertical-align: top;
  margin: 0;
  padding: 0;
  word-wrap: normal;
}

.most-liked-feed img {
  display: inline;
  width: 50px;
  border-radius: 3px;
}

.rec-info .rec-artist {
  font-size: 0.8em;
}

.rec-info p {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 5px;
}
