.group-title {
  text-align: center;
}

.group-actions-form {
  display: inline;
}

.join-btn {
  position: relative;
  background: #94b0da;
  color: #fff;
}

.leave-btn {
  position: relative;
  background: #f77777;
  color: #fff;
}

.edit-btn {
  position: relative;
  background: #4278a3;
  color: #fff;
}

.delete-btn {
  position: relative;
  background: #c74545;
  color: #fff;
}
