.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 46px 1fr;
}

.header {
  background: #94b0da;
  position: static;
  height: 30px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.7);
}

.header-right {
  font-family: "Short Stack", cursive;
  float: right;
  margin-right: 20px;
  margin-left: 12px;
  font-size: 16px;
}

.header-left {
  font-family: "Finger Paint", cursive;
  float: left;
  margin: auto;
  margin-left: 16px;
  font-size: 20px;
}
