.login-header {
  position: static;
  width: 500px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 2em;
}

.login-page {
  width: 360px;
  margin: auto;
}

.login-header h1 {
  font-family: "Short Stack", cursive;
  text-align: center;
  font-weight: 600;
}

.creator {
  position: absolute;
  bottom: 0;
  margin: 15px;
  font-size: 1em;
}
