.login-header {
  position: static;
  width: 500px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 2em;
}

.login-page {
  width: 360px;
  margin: auto;
}

.login-header h1 {
  font-family: "Short Stack", cursive;
  text-align: center;
  font-weight: 600;
}

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form label {
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 15px 0 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #94b0da;
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #788eb1;
}

.form .message {
  margin: 20px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 800;
}

.form .message a {
  color: #94b0da;
  text-decoration: none;
}

.form .error-message {
  color: #ad3a3a;
  font-size: 12px;
  font-weight: 800;
  margin: 0;
}
