<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google fonts (Quando) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Quando&display=swap"
      rel="stylesheet"
    />
    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css" />
    {% block style %} {% endblock %}
  </head>
  <body>
    <div class="background">{% block content %} {% endblock %}</div>
    <script src=""></script>
    {% block script %} {% endblock %}
  </body>
</html>
