<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- cover image (https://medium.com/@jamesyhiggs/how-to-add-thumbnail-images-to-the-featured-section-of-your-linkedin-profile-for-web-apps-sites-917346235932)-->
    <meta name="description" content="Spotify Sharing App" />
    <meta name="title" property="og:title" content="Spotify Sharing" />
    <meta property="og:type" content="Website" />
    <meta
      name="image"
      property="og:image"
      content="https://live.staticflickr.com/65535/51834435627_03c565c07f_z.jpg"
    />
    <meta
      name="description"
      property="og:description"
      content="Spotify Sharing App"
    />
    <meta name="author" content="Caleb Waymeyer" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Quando&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap"
      rel="stylesheet"
    />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/b7b36e8198.js"
      crossorigin="anonymous"
    ></script>
    <!--   -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css" />
    {% block style %} {% endblock %}
  </head>
  <body>
    <div class="background">{% block content %} {% endblock %}</div>
    <script src=""></script>
    {% block script %} {% endblock %}
  </body>
</html>
