<!-- GROUP PAGE FOR USER NOT IN GROUP -->

{% extends 'header.html' %}
<!-- -->
{% block morestyle%}
<link rel="stylesheet" href="/static/group.css" />
{% endblock %}
<!--  -->
{% block morecontent %}
<div class="left">
  <a href="/user/{{ user.id }}"><button class="back-btn">Back</button></a>
  <form
    class="group-actions-form"
    method="POST"
    action="/user/{{ user.id }}/group/{{ group.id }}/join"
  >
    <button type="submit" class="join-btn">Join group</button>
  </form>
</div>
<!--  -->
<div class="center">
  <div class="group-header">
    <h1 class="group-title">{{ group.name }}</h1>
  </div>
  <div class="group-feed">
    <div class="feed">
      {% for post in posts %}
      <div class="post">
        <h4>
          {{ post.user.username }}
          <span class="likes">
            <!-- if post is not logged-in-user's post -->
            {% if post.user.id != user.id %}
            <!-- if post is not liked by logged-in-user -->
            {% if user.id not in post.likes|map(attribute="user_id") %}
            <form
              action="/user/{{ user.id }}/group/{{ group.id }}/{{ post.id }}/like"
              method="POST"
            >
              <button class="like-btn" type="submit">
                <i class="far fa-heart"></i>
              </button>
            </form>
            <!-- if post is liked by logged-in-user -->
            {% else %}
            <form
              action="/user/{{ user.id }}/group/{{ group.id }}/{{ post.id }}/unlike"
              method="DELETE"
            >
              <button class="like-btn" type="submit">
                <i class="fas fa-heart"></i>
              </button>
            </form>
          </span>
          <span class="likes-count"
            >{% endif %} {% if post.likes|count == 1 %}1 like{% elif
            post.likes|count > 1%}{{ post.likes|count }} likes{% endif %}</span
          >
          <!--  -->
          {% else %}
          <form
            class="trash-can-form"
            action="/user/{{ user.id }}/group/{{ group.id }}/{{ post.id }}/delete"
            method="DELETE"
          >
            <button class="trash-btn" type="submit">
              <i class="far fa-trash-alt"></i>
            </button>
          </form>
          {% endif %}
        </h4>
        <br />
        <p>{{ post.content }}</p>
        {% if post.s_name %}
        <img
          src="{{ post.s_image }}"
          alt="{{ session['track_name'] }} album image"
        />
        <h5>
          {{ post.s_name }}
          <div class="artist">{{ post.s_artist }}</div>
          <div class="links">
            <span
              ><a href="{{ post.s_preview }}" target="_blank"
                >Preview &nbsp;<i class="far fa-play-circle"></i></a
            ></span>
            |
            <span
              ><a href="{{ post.s_link }}" target="_blank"
                >View on Spotify</a
              ></span
            >
          </div>
        </h5>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% block spotify %} {% endblock %}
</div>
<div class="right">
  <div class="most-liked">
    <h2>Top recommended</h2>
    <div class="most-liked-feed">
      {% for song in top_recommended %}
      <div class="recommendation">
        <div class="rec-image">
          <a href="{{ song.s_link }}" target="_blank"
            ><img src="{{ song.s_image }}" alt="{{ song.s_name }} album image"
          /></a>
        </div>
        <div class="rec-info">
          <a href="{{ song.s_link }}" target="_blank"
            ><h4>
              {{ song.s_name }} <b>-</b>
              <span class="rec-artist">{{ song.s_artist }}</span>
            </h4></a
          >
          <p>{{ song.likes|count }} &nbsp;<i class="far fa-heart"></i></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% block script %}
<script src="/static/group.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
{% endblock %} {% endblock %}
