{% extends 'header.html' %}
<!-- -->
{% block morestyle%}
<link rel="stylesheet" href="/static/group.css" />
{% endblock %}
<!--  -->
{% block morecontent %}
<div class="left">
  <a href="/user/{{ user.id }}"><button class="back-btn">Back</button></a>
  {% if group.admin_id != user.id %} {% if user_in_group %}
  <!-- non-admin buttons -->
  <form
    class="group-actions-form"
    method="DELETE"
    action="/user/{{ user.id }}/group/{{ group.id }}/leave"
  >
    <button type="submit" class="leave-btn">Leave group</button>
  </form>
  {% else %}
  <form
    class="group-actions-form"
    method="POST"
    action="/user/{{ user.id }}/group/{{ group.id }}/join"
  >
    <button type="submit" class="join-btn">Join group</button>
  </form>
  {% endif %} {% else %}
  <!-- admin buttons -->
  <form
    class="group-actions-form"
    action="/user/{{ user.id }}/group/{{ group.id }}/edit"
  >
    <button type="submit" class="edit-btn">Edit group</button>
  </form>
  <form
    class="group-actions-form"
    method="DELETE"
    action="/user/{{ user.id }}/group/{{ group.id }}/delete"
    onSubmit="return confirm('Are you sure you wish to delete?');"
  >
    <button type="submit" class="delete-btn">Delete group</button>
  </form>
  {% endif %}
</div>
<!--  -->
<div class="center">
  <div class="group-header">
    <h1 class="group-title">{{ group.name }}</h1>
  </div>
  <div class="group-feed">
    <div class="feed">
      {% for post in posts %}
      <div class="post">
        <p>
          <h4>{{ user.username }}</h4>
          <p>{{ post.content }} </p>
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="feed-post-creation">
      <div class="feed-post-creation-input">
        <form method="POST" novalidate="True" id="post-form">
          {{ form.hidden_tag() }}
          <!--  -->
            {{ form.content }}
          <!--  -->
        </form>
      </div>
      <div class="feed-post-creation-btns">
        <button form="post-form" type="submit" class="post-btn">Post</button>
      </div>
    </div>
  </div>
</div>
<div class="right"></div>
{% block script %} 
  <script src="/static/group.js"></script>
{% endblock %}
{% endblock %}
